{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstraop script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <title>Accueil</title>
</head>
<body>
{% include 'admin/nav_bar.html' %}
<hr class="dropdown-divider">

<!-- Website body -->
<div class="container-fluid"><h3>Liste des domaines</h3></div>

<!-- Container offres de bources -->
<div class="container-fluid py-3" style="background-color: #EEEEEE">
    <div class="card">
        <div class="card-header text-white" style="background-color: #0360b1;">
            <h5>Offres de bources</h5>
        </div>
        <div class="card-body">
            {% for pub in pub_offres_brouces %}
                <div class="row">
                    <div class="col">
                        <h4>{{ pub }}</h4>
                        <tbody>
                        <tr>
                            <td><strong>Publié par :</strong>{{ pub.send_By }}</td>
                            <td><strong>Date limite :</strong> {{ pub.date_ajout }}</td>
                            <td><strong>Ajouté par :</strong> {{ user.email }}</td>
                        </tr>
                        </tbody>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-4 d-md-flex align-items-center justify-content-md-end">
                            <a href="/publications/{{ pub.id }}" type="button" class="btn px-4 text-white" style="background-color: #0360b1">
                                Afficher
                            </a>
                            <a href="/publications/edit/{{ pub.id }}" type="button" class="btn text-white px-3"
                               style="background-color: #3BB628">
                                Modifier
                            </a>
                            <button type="button" class="btn text-white" style="background-color: #F91717"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Supprimer
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-body d-flex justify-content-center">
                                            Vous êtes sur que vous voulez supprimé cette publication ?
                                        </div>
                                        <div class="modal-footer d-flex justify-content-evenly">
                                            <button type="button" class="btn px-4 rounded-0"
                                                    data-bs-dismiss="modal"
                                                    style="color: #0360b1; border-color: #0360b1">
                                                Annuler
                                            </button>
                                            <form method="post" action="{% url 'esiapp:delete_publication' pub.id %}">
                                                {% csrf_token %}
                                                <button type="submit"
                                                        class="btn text-white px-4 rounded-0"
                                                        style="background-color: red">
                                                    Supprimer
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                </div>
            {% endfor %}
            <div class="d-grid gap-2">
                <button class="btn" type="button" style="color: #0360b1"><h5>Afficher tout les messages</h5></button>
            </div>
        </div>
    </div>
    <!-- div for 2 categories -->
    <div class="row">
        <!-- category 2: entreprise -->
        <div class="col">
            <div class="py-3" style="background-color: #EEEEEE">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #0360b1;">
                        <h5>Entreprises</h5>
                    </div>
                    <div class="card-body">
                        {% for pub in pub_entreprise %}
                            <div class="row">
                                <div class="col">
                                    <h4>{{ pub }}</h4>
                                    <tbody>
                                    <tr>
                                        <td><strong>Publié par :</strong> {{ pub.send_By }}</td>
                                        <td><strong>Date limite :</strong> {{ pub.date_limite }}</td>
                                        <td><strong>Ajouté par :</strong> Vous</td>
                                    </tr>
                                    </tbody>
                                </div>
                                <div class="col-2">
                                    <div class="d-grid gap-4 d-md-flex align-items-center justify-content-md-end">
                                        <a href="#">
                                            <img src="{% static 'icons/display_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="/publications/edit/{{ pub.id }}">
                                            <img src="{% static 'icons/edit_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                            <img src="{% static 'icons/delete_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <!-- Model togger -->
                                        <div class="modal fade" id="exampleModal2" tabindex="-1"
                                             aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-body d-flex justify-content-center">
                                                        Vous êtes sur que vous voulez supprimé cette publication ?
                                                    </div>
                                                    <div class="modal-footer d-flex justify-content-evenly">
                                                        <button type="button" class="btn px-4 rounded-0"
                                                                data-bs-dismiss="modal"
                                                                style="color: #0360b1; border-color: #0360b1">
                                                            Annuler
                                                        </button>
                                                        <form method="post"
                                                              action="{% url 'esiapp:delete_publication' pub.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit"
                                                                    class="btn text-white px-4 rounded-0"
                                                                    style="background-color: red">
                                                                Supprimer
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2">
                            <button class="btn" type="button" style="color: #0360b1"><h5>Afficher tout les messages</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- category 3: projets de recherche -->
        <div class="col">
            <div class="py-3" style="background-color: #EEEEEE">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #0360b1;">
                        <h5>Projets de recherches</h5>
                    </div>
                    <div class="card-body">
                        {% for pub in pub_projet_rech %}
                            <div class="row">
                                <div class="col">
                                    <h4>{{ pub }}</h4>
                                    <tbody>
                                    <tr>
                                        <td><strong>Publié par :</strong> {{ pub.send_By }}</td>
                                        <td><strong>Date limite :</strong> {{ pub.date_limite }}</td>
                                        <td><strong>Ajouté par :</strong> Vous</td>
                                    </tr>
                                    </tbody>
                                </div>
                                <div class="col-2">
                                    <div class="d-grid gap-4 d-md-flex align-items-center justify-content-md-end">
                                        <a href="#">
                                            <img src="{% static 'icons/display_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="/publications/edit/{{ pub.id }}">
                                            <img src="{% static 'icons/edit_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                            <img src="{% static 'icons/delete_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <!-- Model togger -->
                                        <div class="modal fade" id="exampleModal3" tabindex="-1"
                                             aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-body d-flex justify-content-center">
                                                        Vous êtes sur que vous voulez supprimé cette publication ?
                                                    </div>
                                                    <div class="modal-footer d-flex justify-content-evenly">
                                                        <button type="button" class="btn px-4 rounded-0"
                                                                data-bs-dismiss="modal"
                                                                style="color: #0360b1; border-color: #0360b1">
                                                            Annuler
                                                        </button>
                                                        <form method="post"
                                                              action="{% url 'esiapp:delete_publication' pub.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit"
                                                                    class="btn text-white px-4 rounded-0"
                                                                    style="background-color: red">
                                                                Supprimer
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2">
                            <button class="btn" type="button" style="color: #0360b1"><h5>Afficher tout les messages</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- div for 2 categories (4&5)-->
    <div class="row">
        <!-- category 4: PRFU -->
        <div class="col">
            <div class="py-3" style="background-color: #EEEEEE">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #0360b1;">
                        <h5>PRFU</h5>
                    </div>
                    <div class="card-body">
                        {% for pub in pub_prfu %}
                            <div class="row">
                                <div class="col">
                                    <h4>{{ pub }}</h4>
                                    <tbody>
                                    <tr>
                                        <td><strong>Publié par :</strong> {{ pub.send_By }}</td>
                                        <td><strong>Date limite :</strong> {{ pub.date_limite }}</td>
                                        <td><strong>Ajouté par :</strong> Vous</td>
                                    </tr>
                                    </tbody>
                                </div>
                                <div class="col-2">
                                    <div class="d-grid gap-4 d-md-flex align-items-center justify-content-md-end">
                                        <a href="#">
                                            <img src="{% static 'icons/display_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="/publications/edit/{{ pub.id }}">
                                            <img src="{% static 'icons/edit_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                            <img src="{% static 'icons/delete_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <!-- Model togger -->
                                        <div class="modal fade" id="exampleModal4" tabindex="-1"
                                             aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-body d-flex justify-content-center">
                                                        Vous êtes sur que vous voulez supprimé cette publication ?
                                                    </div>
                                                    <div class="modal-footer d-flex justify-content-evenly">
                                                        <button type="button" class="btn px-4 rounded-0"
                                                                data-bs-dismiss="modal"
                                                                style="color: #0360b1; border-color: #0360b1">
                                                            Annuler
                                                        </button>
                                                        <form method="post"
                                                              action="{% url 'esiapp:delete_publication' pub.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit"
                                                                    class="btn text-white px-4 rounded-0"
                                                                    style="background-color: red">
                                                                Supprimer
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2">
                            <button class="btn" type="button" style="color: #0360b1"><h5>Afficher tout les messages</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- category 5: Autres -->
        <div class="col">
            <div class="py-3" style="background-color: #EEEEEE">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #0360b1;">
                        <h5>Autres</h5>
                    </div>
                    <div class="card-body">
                        {% for pub in pub_autres %}
                            <div class="row">
                                <div class="col">
                                    <h4>{{ pub }}</h4>
                                    <tbody>
                                    <tr>
                                        <td><strong>Publié par :</strong>{{ pub.send_By }}</td>
                                        <td><strong>Date limite :</strong> {{ pub.date_limite }}</td>
                                        <td><strong>Ajouté par :</strong> Vous</td>
                                    </tr>
                                    </tbody>
                                </div>
                                <div class="col-2">
                                    <div class="d-grid gap-4 d-md-flex align-items-center justify-content-md-end">
                                        <a href="#">
                                            <img src="{% static 'icons/display_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="/publications/edit/{{ pub.id }}">
                                            <img src="{% static 'icons/edit_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                                            <img src="{% static 'icons/delete_icon.svg' %}" width="40" height="40">
                                        </a>
                                        <!-- Model togger -->
                                        <div class="modal fade" id="exampleModal5" tabindex="-1"
                                             aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-body d-flex justify-content-center">
                                                        Vous êtes sur que vous voulez supprimé cette publication ?
                                                    </div>
                                                    <div class="modal-footer d-flex justify-content-evenly">
                                                        <button type="button" class="btn px-4 rounded-0"
                                                                data-bs-dismiss="modal"
                                                                style="color: #0360b1; border-color: #0360b1">
                                                            Annuler
                                                        </button>
                                                        <form method="post"
                                                              action="{% url 'esiapp:delete_publication' pub.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit"
                                                                    class="btn text-white px-4 rounded-0"
                                                                    style="background-color: red">
                                                                Supprimer
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2">
                            <button class="btn" type="button" style="color: #0360b1"><h5>Afficher tout les messages</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="row mt-3">
    <small>
        <div class="fixed-bottom text-center text-white bg-dark col-lg-12">
            <address>
                <strong>
                    Tous droits réservés - mentions légales - ESI 2021
                </strong>
            </address>
        </div>
    </small>
</footer>
</body>
</html>