{% load static %}

<nav class="navbar navbar-expand-lg bg-white navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div>
                <img src="{% static 'images/esi_logo3.png' %}" width="200" height="40" alt="">
                <!--<span style="">ESI Docs</span>-->
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'esiapp:admin_home' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'esiapp:categorie_page' %}">Domaines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>

            </ul>
            <form class="d-flex w-50">
                <input class="form-control border-primary rounded-0" type="search" placeholder="Rechercher">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-primary border-start-0 rounded-0 border ms-n5"
                            type="button">
                        <img src="{% static 'icons/search.svg' %}">
                    </button>
                </span>
            </form>
        </div>

        <span class="input-group-append">
                    <a class="btn indigo-text"
                       href="/nouvelle_publication/"
                       type="button">
                        <img src="{% static 'icons/add_circle.svg' %}" width="30" height="30">
                    </a>
        </span>

        </span>
        <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'icons/circle_notifications.svg' %}" width="30" height="30">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown"
                        aria-expanded="false"
                        style="background-color: #0360b1;">
                    Mon compte
                </button>
                <ul class="dropdown-menu" style="right: 0; left: auto;">
                    <li><a class="dropdown-item" href="#">Gérer les comptes</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Messages reçus</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">liste des jurys</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Mon profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'esiapp:logout' %}">Deconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>